body {
  background: linear-gradient(0.4turn, rgb(196, 0, 141), #70d6ff);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #ffd80e;
  font-size: 30px;
  text-align: center;
}

.top,
main,
footer {
  padding-left: 20px;
  border: 5px solid transparent;
  border-bottom: none;
  margin-left: 10px;
  margin: auto;
}

.top,
main {
  max-width: 900px;
}

footer {
  color: #ffd80e;
  height: 200px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border-top: 10px dotted #ffd80e;
}

h1 {
  font-size: 5rem;
  color: #ffd80e;
}

h2 {
  color: #ffd80e;
  font-size: 3rem;
  font-weight: 400;
  border-top: 10px dotted #ffd80e;
  padding-top: 100px;
  margin-top: 100px;
  margin-bottom: 1rem;
}

h2 span {
  font-size: 1.5rem;
}

h3 {
  color: #ffd80e;
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 1rem;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.5px;
  letter-spacing: 0.1rem;
}

#pizzaarea {
  background-image: url("./media/pizza.png");
  background-repeat: no-repeat;
  text-align: center;
  min-height: 575px;
  align-content: center;
  background-position: center;
  height: 200px;
  position: relative;
  z-index: -1;
  min-width: 575px;
}

#pizzaarea:hover {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>😋</text></svg>")
      16 0,
    auto;
}

.rotatepizza {
  -webkit-animation: spin 30s linear infinite;
  -moz-animation: spin 30s linear infinite;
  animation: spin 30s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#texttopping {
  text-shadow: 0 0 1px #ffd80e, -1px -1px 1px #ffd80e, -1px 1px 1px #ffd80e,
    1px 1px 1px #ffd80e, 1px -1px 1px #ffd80e;
}

.buttondiv {
  display: grid;
  align-content: center;
}

.twobuttongrid {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}

.modebuttongrid {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
  max-width: 150px;
  position: fixed;
}

.modebutton {
  border: 2px solid #ffd80e;
  border-radius: 15px;
  max-width: 50px;
  padding: 5px 20px;
  display: grid;
  justify-content: center;
}

#darkbutton {
  background: linear-gradient(0.4turn, darkred, darkblue);
  margin-right: 5px;
}

#lightbutton {
  background: linear-gradient(0.4turn, rgb(196, 0, 141), #70d6ff);
  display: inherit;
  display: none;
}

.sevenbuttongrid {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  padding: 10px;
}

#cheesebutton:hover {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🧀</text></svg>")
      16 0,
    auto;
}

#garlicbutton:hover {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🧄</text></svg>")
      16 0,
    auto;
}

#brocbutton:hover {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🥦</text></svg>")
      16 0,
    auto;
}

#pepperbutton:hover {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🌶️</text></svg>")
      16 0,
    auto;
}

#pinebutton:hover {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🍍</text></svg>")
      16 0,
    auto;
}

#confirmbutton:hover {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>👀</text></svg>")
      16 0,
    auto;
}

#bananabutton:hover {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🍌</text></svg>")
      16 0,
    auto;
}

#promptbutton:hover,
#mirrorbutton:hover {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>👀</text></svg>")
      16 0,
    auto;
}

#lightbutton:hover {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>☀️</text></svg>")
      16 0,
    auto;
}

#darkbutton:hover {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🌙</text></svg>")
      16 0,
    auto;
}

@media only screen and (max-width: 1130px) {
  .modebuttongrid {
    position: absolute;
  }
}

.yellowbutton {
  background: linear-gradient(0.4turn, darkred, darkblue);
  color: #ffd80e;
  background-position: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin: 15px;
  border-radius: 10px;
  font-size: 1.5rem;
  border: 3px solid #ffd80e;
}

.yellowbutton:hover {
  background: linear-gradient(0.4turn, rgb(196, 0, 141), #70d6ff);
  color: #00003f;
}

#cookiemonster {
  position: fixed;
  position: fixed;
  bottom: 0px;
  background: #70d6ff;
  width: 100%;
  left: 0px;
  right: 0px;
  color: black;
  font-size: 1rem;
  font-weight: 200;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 5px 0px;
  visibility: visible;
}

#cookiebutton {
  background: #ffd80e;
  border: 2px solid rgb(44, 44, 44);
  color: #202020;
  margin-left: 1rem;
}
